/* .teste p:nth-child(3) {
  background-color: red;
} */

p:not(.classico) {
  color: red;
}

nav ul li::before {
  content: '';
  display: block;
  background-image: url(./mario.png);
  width: 50px;
  height: 50px;
  background-size: contain;
}
