html,
body,
*,
ul,
li {
  margin: 0%;
  padding: 0%;
}

h1 {
  text-align: center;
  margin: 20px 0;
}
header {
  display: flex;
  background-color: #000;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
a::hover {
  text-decoration: underline;
}
nav ul li {
  display: inline;
}
nav li {
  margin-left: 15px;
}
main {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 5%;
}
img {
  max-width: 100%;
  display: block;
}
.img-principal {
  width: 55%;
}
.img-principal img {
  width: 900px;
}
.coluna {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.coluna img {
  width: 75%;
}
.coluna p {
  text-align: justify;
  margin: 10px;
}
