@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html,
body,
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}
header {
  background-color: red;
}
.container {
  width: 1200px;
  margin: auto;
}
main {
  background-color: aqua;
}
footer {
  background-color: aquamarine;
}
ul li {
  display: inline;
}
li {
  margin-right: 20px;
}
